{% extends "layout.html" %}
{% block body %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/home12-bg.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Welcome to my Blog</h1>
              <span class="subheading">A Blog by anurag shukla</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

        <!--TODO: for loop-->
        {% for post in posts %}
          <div class="post-preview">
            <a href="/post/{{post.slug}}">
              <h2 class="post-title">
                {{post.title}}
              </h2>
              <h3 class="post-subtitle">
                subtitle here
                <h4 class="post-meta">{{post.content[0:50]}}...</h4>
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="/post/{{post.slug}}">Start Bootstrap</a>
              {{post.date}}</p>
          </div>
          <li><a href="/post/{{post.slug}}">Read more</a></li>
          
          <hr>
          {% endfor %}
          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-warning float-right" href="{{prev}}">Older Posts →</a>
            <a class="btn btn-warning float-left" href="{{next}}">← Newer Posts</a>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
